[report]
# Glob pattern(s) of files to omit from the report.
omit =
    */devops/compose/*
    */helpers/test/outcomes/*/tmp.scratch/*
[run]
branch = True
parallel = True
concurrency = multiprocessing
sigterm = True

[paths]
# tell coverage that "/app" in the container is the same as "." on the host
source =
    .
    /app