repos:
- repo: https://github.com/bwhmather/ssort
  rev: master
  hooks:
    - id: ssort

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.8
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

- repo: https://github.com/mwouts/jupytext
  rev: v1.16.0
  hooks:
    - id: jupytext
      args: ["--sync"]

#  - repo: local
#    hooks:
#      - id: fixit-lint
#        name: fixit lint
#        entry: fixit lint
#        language: system
#        types: [python]

#      - id: pyrefly
#        name: pyrefly lint
#        entry: pyrefly lint
#        language: system
#        types: [python]
