name: Common Dev Image Build
on:
    workflow_call:
env:
  CSFY_CI: true
  # CSFY_ECR_BASE_PATH: ${{ vars.CSFY_ECR_BASE_PATH }}
  # CSFY_ECR_BASE_PATH is the source path for fetching the image.
  # If you prefer pulling the image from ECR, comment out the following
  # line and uncomment the one above.
  # TODO(Vlad): Rename the variable to CSFY_CR_BASE_PATH since it can be
  # either GHCR or ECR.
  CSFY_ECR_BASE_PATH: ghcr.io/${{ github.repository_owner }}
# Set up permissions for OIDC authentication.
permissions:
  # This is required for actions/checkout.
  contents: write
  # This is required for pulling the Docker image from GHCR.
  packages: write
  # This is required for GitHub App to create issues and PRs.
  pull-requests: write
  issues: write
jobs:
  dev_image_build:
    # We expect user to not execute manual run in a draft PR.
    # The reason is `github.event.pull_request.draft` is evaluated as empty
    # string and the condition is always true which is not the right state.
    if: ${{ github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest

    steps:
      - name: Generate GitHub App token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      # Pass AWS credentials via GH secrets. This is needed to pull the Docker
      # image and in case the workflow needs to access AWS resources.
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CSFY_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.CSFY_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.CSFY_AWS_DEFAULT_REGION }}

      # # To optimize costs, the image is fetched from GHCR registry by default.
      # # If you prefer pulling the image from ECR, enable this.
      # - name: Login to AWS ECR
      #   id: login-ecr
      #   uses: aws-actions/amazon-ecr-login@v1

      # This is needed to pull the Docker image.
      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" \
            | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      # Make everything accessible by any user to avoid permission errors.
      - name: Cleanup
        run: sudo chmod 777 -R .

      # Check out the code from GitHub so that we can run the action inside
      # the Docker container.
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # For PRs: checkout the PR branch (head_ref).
          # For other events: checkout master.
          ref: ${{ github.event_name == 'pull_request' && github.head_ref || 'master' }}
          submodules: true
          # TODO(Samarth): Do we need to propagate this to other `repos/workflow`
          # make it a default behavior? For certain tests to pass, we need entire
          # commit history of the repo including sub-modules.
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      # To access modules in `amp` and `helpers_root`, make sure PYTHONPATH includes
      # them, just as it's set in `setenv.sh`.
      - name: Update PYTHONPATH
        run: |
          PYTHONPATH="$(realpath .)"
          # Add all submodule paths (recursively).
          SUBMODULES_PATHS=$(git submodule foreach --quiet --recursive 'echo $(pwd)' | paste -sd:)
          PYTHONPATH="$PYTHONPATH:$SUBMODULES_PATHS"
          # Export final PYTHONPATH to the environment.
          echo "PYTHONPATH=$PYTHONPATH" >> $GITHUB_ENV

      # Configure git for commits.
      - name: Configure git
        run: |
          git config --global user.name 'CK Bot'
          git config --global user.email 'ckbot@noreply.github.com'

      # Install packages that are required to run the job via GH.
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r .github/gh_requirements.txt

      # Pull the latest Docker image from the GHCR registry instead of ECR for
      # cost saving purposes to run the regressions on.
      - name: Pull image from GHCR
        run: docker pull ghcr.io/${{ github.repository }}:dev

      # Setup GitHub CLI authentication for creating issues and PRs.
      - name: Setup GitHub CLI
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" \
            | gh auth login --with-token

      # Run the dev image build and test workflow.
      - name: Run 'docker_build_test_dev_image' workflow
        uses: lhotari/action-upterm@v1
        env:
          CSFY_AWS_ACCESS_KEY_ID: ${{ env.AWS_ACCESS_KEY_ID }}
          CSFY_AWS_SECRET_ACCESS_KEY: ${{ env.AWS_SECRET_ACCESS_KEY }}
          CSFY_AWS_SESSION_TOKEN: ${{ env.AWS_SESSION_TOKEN }}
          CSFY_AWS_DEFAULT_REGION: ${{ env.AWS_DEFAULT_REGION }}
          CSFY_AWS_S3_BUCKET: ${{ vars.CSFY_AWS_S3_BUCKET }}
          GH_ACTION_ACCESS_TOKEN: ${{ steps.app-token.outputs.token }}
          GH_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # TODO(Vlad): Reviewer for testing puprose, remove before merge.
        # run: invoke docker_build_test_dev_image --reviewers=dremdem
