name: Dev image release
on:
  # Run manually.
  workflow_dispatch:
# Set up permissions for OIDC authentication.
permissions:
  # This is required for actions/checkout.
  contents: read
  # This is required for pulling the Docker image from GHCR.
  packages: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  dev_image_release:
    if: >
        ${{
        (github.event_name == 'pull_request'
        && github.event.pull_request.merged == true
        && contains(github.event.pull_request.labels.*.name, 'Automated release')) ||
        github.event_name == 'workflow_dispatch'
        }}
    uses: ./.github/workflows/common_dev_image_release.yml
    with:
      container-dir-name: .
    secrets: inherit
