name: Dev image build and test
on:
  # Run on every PR to master that is ready to review (i.e., not draft).
  pull_request:
    # https://github.community/t/dont-run-actions-on-draft-pull-requests/16817/19
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - master
  # Run weekly on Monday at 6 AM UTC.
  schedule:
    - cron: '0 6 * * 1'
  # Run manually.
  workflow_dispatch:
    inputs:
      reviewers:
        description: 'GitHub username to ask for reviewing the created PR.'
        required: false
        default: 'dremdem'
# Set up permissions for OIDC authentication.
permissions:
  # This is required for actions/checkout and creating branches/commits.
  contents: write
  # This is required for pulling the Docker image from GHCR.
  packages: read
  # This is required for creating issues and PRs.
  pull-requests: write
  issues: write
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  dev_image_build_and_test:
    uses: ./.github/workflows/common_dev_image_build.yml
    with:
      reviewers: ${{ github.event.inputs.reviewers || 'dremdem' }}
    secrets: inherit
