name: Superslow tests
on:
  # Run manually.
  workflow_dispatch:
  schedule:
    # Run this everyday even if there are no commits.
    - cron:  '0 0 * * *'
# Set up permissions for OIDC authentication.
permissions:
  # This is required for requesting the OIDC JWT.
  id-token: write
  # This is required for actions/checkout.
  contents: read
  # This is required for pulling the Docker image from GHCR.
  packages: read
  # This is required for posting the status of the job when triggered manually.
  statuses: write
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  run_superslow_tests:
    uses: ./.github/workflows/common_run_tests.yml
    with:
      test-name: run_superslow_tests
    secrets: inherit
